@import url('https://fonts.googleapis.com/css?family=Raleway:400,700');

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: Raleway, sans-serif;
}
#d {
	position: absolute;
	left: 13.5em;
	top: 5em;
}
body {
	background: linear-gradient(90deg,#C7C5F4,  #fff);







}
p {
	background-image: url('img_girl.jpg');
  }
.container {
	display: flex;
	align-items: center;
	justify-content: center;
	min-height: 100vh;
}
textarea{
    height :62px;
	min-height: 0px;
    border-radius: 25px;
    padding: 12px 30px;
    border: none;
	border-bottom: 2px solid white;
	background: none;
	padding: 10px;
	padding-left: 24px;
	font-weight: 700;
	width: 95%;
	transition: .2s;
	top:-1305px;
}
#rasm {
	position: relative;
	width: 150px;


	margin-left: 10px;
	top:-50px;
	left:-10px;
	border-radius: 10px;





}
#b {
	position: relative;
	left: 10px;
}

::placeholder {
  font-style: italic;
  font-size: 1em;
  border-radius: 10px;
  color: black;
  background-color: transparent;
  
  padding: 5px;
}
.phone{
    color:white;
}
select {
	position: relative;
	top: -10px;
  width: 75%;
  padding: 15px;
  border-radius:50px ;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f7f7f7;
	font-family: Montserrat,Arial, Helvetica, sans-serif;
}
#start{
	
	position: absolute;
	right: -100px;
	top: 120px;
}
.screen {
	background: linear-gradient(90deg, #5D54A4, #7C78B8);
	position: relative;
	height: 780px;
	width: 580px;
	box-shadow: 0px 0px 24px #5C5696;
	left: 10px;
}

.screen__content {
	z-index: 1;
	position: relative;
	height: 100%;
}

.screen__background {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 0;
	-webkit-clip-path: inset(0 0 0 0);
	clip-path: inset(0 0 0 0);
}

.screen__background__shape {
	transform: rotate(45deg);
	position: absolute;
}



.screen__background__shape1 {
	height: 520px;
	width: 520px;
	background: #FFF;
	top: -50px;
	right: 120px;
	border-radius: 0 72px 0 0;
}

.screen__background__shape2 {
	height: 220px;
	width: 220px;
	background: #6C63AC;
	top: -172px;
	right: 0;
	border-radius: 32px;
}

.screen__background__shape3 {
	height: 540px;
	width: 190px;
	background: linear-gradient(270deg, #5D54A4, #6A679E);
	top: -24px;
	right: 0;
	border-radius: 32px;
}

.screen__background__shape4 {
	height: 400px;
	width: 200px;
	background: #7E7BB9;
	top: 420px;
	right: 50px;
	border-radius: 60px;
}

.login {
	width: 320px;
	padding: 30px;
	padding-top: 156px;
}

.login__field {
	padding: 10px 0px;
	position: relative;
	top:-110px;
	left:1em;
}

.login__icon {
	position: absolute;
	top: 30px;
	color: #7875B5;
}

.login__input {
	border: none;

	top: -200px;
	padding-top: -10px;
	background-color: transparent;
	background: none;
	padding: 10px;
	padding-left: 24px;
	font-weight: 700;
	width: 75%;
	transition: .2s;
	top:-1205px;
}

.login__number {
	border: none;
	background-color: transparent;
	background: none;
	padding: 10px;
	padding-left: 24px;
	font-weight: 700;
	width: 60%;
	transition: .2s;
	top:-1305px;

}

.login__input:active,
.login__input:focus,
.login__input:hover {
	outline: none;
	border-bottom-color: #6A679E;
}


.login__submit {
    background: #fff;
    font-size: 14px;
    margin-top: 30px;
    padding: 16px 20px;
    border-radius: 26px;
    border: 1px solid #D4D3E8;
    text-transform: uppercase;
    font-weight: 700;
    display: flex;
    align-items: center;
    width: 100%;
    color: #4C489D;
    box-shadow: 0px 2px 2px #5c5696;
    cursor: pointer;
    transition: .2s;
    right: -130px;
    position: relative;
    /* top: -100px; */
}

.login__submit:active,
.login__submit:focus,
.login__submit:hover {
	border-color: #6A679E;
	outline: none;
}

.button__icon {
	font-size: 24px;
	margin-left: auto;
	color: #7875B5;
}


.social-login {
	position: absolute;
	height: 140px;
	width: 160px;
	text-align: center;
	bottom: 50px;
	right: 0px;
	color: #fff;
}

.social-icons {
	display: flex;
	align-items: center;
	justify-content: center;
}

.social-login__icon {
	padding: 20px 10px;
	color: #fff;
	text-decoration: none;
	text-shadow: 0px 0px 8px hsl(243, 30%, 58%);
}

.social-login__icon:hover {
	transform: scale(1.5);
}

